body, html {
	background-color: #005000;
	color: #ddd;
	font: 100% Verdana;
	margin:0px;
	padding:0px;
	height: 100%
}

/*div {
	border: 1px solid #000;
}*/

img {
	width: 100%;
}

#container {
	margin: 10px auto;
	width:90%; /*900px*/
	height: 95%;	
	position: relative;
}

#deck {
	width: 10%;
	position: absolute;
	top: 40%;
}

#game{
	width: 50%;
	height: 5%;
	font-size: 120%;
	color: #ffff00;
	position: absolute;
	top: 48%;
	left: 45%;
}

/*------------------------------------------Кнопки------------------------------------------------*/

#newgame {
	background-color:#222233; 
	font-size: 0.9em;
	text-align: center;
	width: 12%;
	height: 10%;
	position: absolute;
	top: 47%;
	left: 15%;
	cursor: pointer;
}

#more {
	background-color:#002266; 
	font-size: 0.9em;
	text-align: center;
	width: 10%;
	height: 5%;
	position: absolute;
	top: 45%;
	left: 30%;
	cursor: pointer;
}

#stop {
	background-color:#800000; 
	font-size: 0.9em;
	text-align: center;
	width: 10%;
	height: 5%;
	position: absolute;
	top: 55%;
	left: 30%;
	cursor: pointer;
}

/*------------------------------------------Надписи----------------------------------------------*/

#dealerName {
	width: 8%;
	height: 4%;
	position: absolute;
	top: 20%;
	left: 10%;
}

#playerName {
	width: 8%;
	height: 4%;
	position: absolute;
	top: 80%;
	left: 10%;
}

#countdealer {
	width: 8%;
	height: 4%;
	position: absolute;
	top: 20%;
	left: 19%;
}

#countplayer{
	width: 8%;
	height: 4%;
	position: absolute;
	top: 80%;
	left: 19%;
}

/*--------------------------------------------Карты--------------------------------------------------*/

#dealer1 {
	width: 10%;
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: 1;
}

#dealer2 {
	width: 10%;
	position: absolute;
	top: 10%;
	left: 30%;
	z-index: 2;
}

#dealer3 {
	width: 10%;
	position: absolute;
	top: 10%;
	left: 35%;
	z-index: 3;
}

#dealer4 {
	width: 10%;
	position: absolute;
	top: 10%;
	left: 40%;
	z-index: 4;
}

#dealer5 {
	width: 10%;
	position: absolute;
	top: 10%;
	left: 45%;
	z-index: 5;
}

#dealer6 {
	width: 10%;
	position: absolute;
	top: 10%;
	left: 50%;
	z-index: 6;
}

#player1{
	width: 10%;
	position: absolute;
	top: 70%;
	left: 25%;
	z-index: 1;
}

#player2{
	width: 10%;
	position: absolute;
	top: 70%;
	left: 30%;
	z-index: 2;
}

#player3{
	width: 10%;
	position: absolute;
	top: 70%;
	left: 35%;
	z-index: 3;
}

#player4{
	width: 10%;
	position: absolute;
	top: 70%;
	left: 40%;
	z-index: 4;
}

#player5{
	width: 10%;
	position: absolute;
	top: 70%;
	left: 45%;
	z-index: 5;
}

#player6{
	width: 10%;
	position: absolute;
	top: 70%;
	left: 50%;
	z-index: 6;
}

	
#bender {
	position: fixed;
	bottom: -84%;
	right: 0;

}