body, html {
	background-color: #005000;
	color: #ddd;
	font: 16px Verdana;
	margin:0px;
	padding:0px;
	height: 100%;
}

div {
	border: 1px solid #000;
}

img {
	width: 100%;
}
/*-----------------------------------------Контейнеры---------------------------------------*/

#container {
	margin: 10px auto;
	min-width:600px;
	min-height: 500px;	
	height: 95%;
	position: relative;
}

#dealerArea {
	width: 90%;
	min-height: 150px;
	height: 30%;
	position: absolute;
	left: 90px;
	top: 1%;
}

#playerArea {
	width: 90%;
	min-height: 150px;
	height: 30%;
	position: absolute;
	left: 90px;
	bottom: 1%;
}

#deckArea {
	width: 90px;
}

#gameArea {
	width: 90%;
	min-height: 180px;
	height: 36%;
	position: absolute;
	left: 90px;
	top: 32%;
}

/*------------------------------------------Кнопки------------------------------------------------*/

#newgame {
	width: 150px;
	position: absolute;
	top: 50%;
	left: 15%;
	cursor: pointer;
	margin-top: -25px;
}

#more {
	width: 100px;
	height: 30px;
	position: absolute;
	top: 10%;
	left: 30%;
	cursor: pointer;
}

#stop {
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: 10%;
	left: 30%;
	cursor: pointer;
}

.text {
	width: 100%;
	height: 100%;
	display: table;
}

.text p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 0.9em;
}

/*------------------------------------------Надписи----------------------------------------------*/
.score {
	width: 15%;
	height: 13%;
	position: absolute;
	top: 50%;
}

.scoreItem {
	display: inline;
	vertical-align: top;
	float: left;
	height: 100%;
}

#game{
	width: 50%;
	height: 30px;
	font-size: 1rem;
	color: #ffff00;
	position: absolute;
	top: 50%;
	left: 45%;
	margin-top: -15px;
}

/*--------------------------------------------Карты--------------------------------------------------*/

#deck {
	width: 90px;
	position: absolute;
	top: 40%;
}

#dealer1 {
	width: 90px;
	position: absolute;
	top: 10%;
	left: 15%;
	z-index: 1;
}

#dealer2 {
	width: 90px;
	position: absolute;
	top: 10%;
	left: 20%;
	z-index: 2;
}

#dealer3 {
	width: 90px;
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: 3;
}

#dealer4 {
	width: 90px;
	position: absolute;
	top: 10%;
	left: 30%;
	z-index: 4;
}

#dealer5 {
	width: 90px;
	position: absolute;
	top: 10%;
	left: 35%;
	z-index: 5;
}

#dealer6 {
	width: 90px;
	position: absolute;
	top: 10%;
	left: 40%;
	z-index: 6;
}

#player1{
	width: 90px;
	position: absolute;
	top: 10%;
	left: 15%;
	z-index: 1;
}

#player2{
	width: 90px;
	position: absolute;
	top: 10%;
	left: 20%;
	z-index: 2;
}

#player3{
	width: 90px;
	position: absolute;
	top: 10%;
	left: 25%;
	z-index: 3;
}

#player4{
	width: 90px;
	position: absolute;
	top: 10%;
	left: 30%;
	z-index: 4;
}

#player5{
	width: 90px;
	position: absolute;
	top: 10%;
	left: 35%;
	z-index: 5;
}

#player6{
	width: 90px;
	position: absolute;
	top: 10%;
	left: 40%;
	z-index: 6;
}

/*--------------------------------------Бендер-----------------------------------------------*/
	
#bender {
	bottom:-40%; right: 0;
	position: fixed; 
	width: 30%;
	-webkit-transition: bottom 1s ease-out 0.5s;
	-moz-transition: bottom 1s ease-out 0.5s;
	-o-transition: bottom 1s ease-out 0.5s;
	transition: bottom 1s ease-out 0.5s;
}

#bender:hover {
	bottom: 0;
}